body{

    background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png");
    margin: 0;
    object-fit: fill;
}
#mysearch{
    float:top;
    margin:10px 70px auto;
    
   
}

input{
    background: #eeeeee;
    border-radius: 4px;
    padding: 0.5rem;
    font-weight: 600;
    color: #212121;
    font-size: 1rem;
    outline: none;
}
button{
    border-radius: 50px;
    padding: 0.5rem;
    font-weight: 600;
    color: #212121;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    background: #aedaed;

}
button:hover{
    background-color:#12ec74 ;
}
button:hover span {
    display: none;
  }
button:hover:before {
    content: "Go";
  }

.link-title{
    text-decoration: none;
    font-size: 24px;
    color: #444444;

}
.container{
    width: 90%;
    margin: 15px auto;
    /*background-image: url("../image/b.jpg");*/
    background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(210, 235, 249, 0.5)),url("image/b.jpg");
    box-shadow: 0px 9px 13px 5px;
}
.header{
    padding: 45px 0 20px 40px;
    text-shadow: 2px 2px 4px #000000;
    
}
.menu{
    background: #aedaed;
    padding: 6px 0 6px 40px;
    font-size: 18px;
    box-shadow: 0px 4px 5px 3px;
}
.menu a{
    color: rgb(8, 8, 8);
    text-decoration: none;
    font-size: 18px;
    text-emphasis: justify ;
    font-family: "Arial Narrow", "Nyriad Pro";
}
.menu:hover{
    color: #023af5;
}

.menu a:hover{
    color: #023af5;
}

a:hover{
    background-color: #7290f2;
    color: #040505;
    border-radius: 5px;
    padding: 8px;
    opacity: 1;
}


/*slide*/

.mySlides {display:none;}
#slide{
    width: 200px;
    height: 250px;
}
/**/

/*Tool tip hover*/
a.tooltip {
    
    text-decoration: none;
  }
  a.tooltip:hover {
    cursor: help;
    position: relative;
  }
  a.tooltip span {
    display: none;
  }
  a.tooltip:hover span {
    border: #666 2px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: #e3e3e3;
    color: #023af5;
    left: 0px;
    margin: 15px;
    width:160px;
    position: absolute;
    top: 15px;
    text-decoration:dotted;
  }
/*Tool tip hover end*/



aside{
    float: left;
    width: 20%;
    padding: 30px 0 0 40px;
    text-emphasis: justify ;
    text-shadow: 2px 2px 4px #a39999;
    writing-mode:sideways-lr;
    
       
}
aside img{
    width: 90%;
}
h1{
    margin: 0px;
    color: #869843;
    font-size: 30px;
    font-family: "Arial Narrow", "Nyriad Pro" ;
    font-weight: normal;
    text-emphasis: justify ;
}
h2{
    color: rgb(131, 97, 160);
    font-size: 20px;
    margin: 20px 0 5px 0;
    text-emphasis: justify ;

}
h6{
    color: rgb(60, 81, 183);
    font-size: 15px;
    margin: 20px 0 5px 0;
    text-emphasis: justify ;

}
.main{
    margin: 0 0 0 180px;
    width: 70%;
    padding: 35px 40px 30px 0;
    color: #444444;
    font-family: "Georgia" ;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    text-emphasis: justify ;
    /*background-color: #90909a;*/
    


}
.main a:hover {
    color: #444444;

}

#hovers{
    width: auto;
    /*height: 200px;
    border: 1px solid red;*/
}
#hovers h5{
    text-align:center;
    opacity: 0.4;
}
#hovers:hover{
    background-color: #023af5;
    color: #040505;
    opacity: 1;
}

p{
    font-size: medium;
    text-align: center;
    
}
#home-image img{

    width:20%;
}
footer{
    padding: 6px 40px 6px 40px;
    background: #d6d6d6;
    font-family: "Lucida Sans Unicode";
    color: #444444;
    font-size: 11px;
    text-align: center;
    text-decoration: right;
    text-emphasis: justify ;



}
footer a{
    text-decoration:underline;
    text-decoration-color: #f52602;
    color: #4007fa;
}
.separator{
    color: #af1212;
    font-size: 11px;


}


/***********About page**********/


#about-page #home-image img{
    width:90%;
    float: left;
}
#about-page #about-image img{
    justify-content: center;
    float: inline-start;
    width:90%;
    box-shadow: 0px 4px 5px 3px;

}
 #about-page #profile-info{
     float: right;
     width: 20%;
     margin: 5px;
 }
 #about-page .description{
     clear: both;
 }

 /********Contact*************/
 #contact #form{
     width: 90%;
     box-shadow: 0px 9px 13px 5px;
     padding: 10px;
     margin: 0 auto;
     border-radius: 5px;
 }
 iframe{
     width: 90%;
 }

 .page-heading{
     text-align: center;
 }

 #contact #form input{
     width: 95%;
     border-radius: 5px;
     height: 20px;
     background: #efeeee;

 }

 #contact #form #message{
     width: 95%;
     border-radius: 5px;
     background: #efeeee;
 }
 #contact #form #submit{
    width: 30%;
    border-radius: 5px;
    height: 20px;
    background: #aedaed;}

    #contact #form #submit:hover{
        background-color:#12ec74 ;
        cursor: pointer;
    }
